#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
  text-align: center;
}

.app-header {
  margin: 0.5rem;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(1, 94, 141);
  border: 2px solid whitesmoke;
  border-radius: 5px;
  color: white;
  font-size: 14pt;
}

.action-button:hover {
  cursor: pointer;
  background-color: rgb(0, 67, 100);
}

.search-bar {
  align-items: center;
  justify-content: flex-start;
  margin: 0 2rem 0 2rem;
}

.search-bar input,
.search-bar select {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 12pt;
}

.search-bar img {
  width: 30px;
  height: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 0.5rem 2rem 1rem 2rem;
  padding-bottom: 1rem;
  min-width: 650px;
  max-width: 2000px;
  overflow-x: auto;
}

.journey-list {
  overflow-y: auto;
  box-shadow: 0 0 0 2px whitesmoke inset;
}

.list-item,
.list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;

}

.list-header {
  font-size: 12pt;
  font-weight: bold;
  background-color: rgb(1, 94, 141);
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-header-journeys label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-header-journeys label:hover {
  cursor: pointer;
}

.sortIcon {
  width: 24px;
  height: 24px;
}

.list-item-journeys label,
.list-header-journeys label {
  width: 25%;
  text-align: center;
}

.list-item-odd {
  background-color: whitesmoke;
}

.list-item-stations:hover {
  box-shadow: 0 0 2px 2px gray inset;
  border-radius: 5px;
}

.list-item-stations:active {
  background-color: rgb(205, 205, 205);
  border-radius: 5px;
}

.list-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.list-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-button img {
  width: 36px;
  height: 36px;
}

.result-indices {
  width: 100%;
}

dialog {
  padding: 0;
  border: 0;
  box-shadow: 0 0 15px 4px rgb(60, 60, 60);
  border-radius: 10px;
}

.dialog {
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgb(1, 94, 141);
  color: white;
  font-weight: bold;
}

.dialog-header img {
  width: 30px;
  height: 30px;
}

.dialog-header img:hover,
.search-bar img:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px gray;
  border-radius: 5px;
}

.dialog-header label {
  margin-right: 1rem;
  margin-left: 1rem;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50vw;
  height: 30vw;
}

.dialog-content-item {
  display: flex;
  box-shadow: 0 0 0 2px gray;
}

.dialog-map {
  height: 100%;
}

.station-info {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
}

.station-info label {
  display: flex;
  align-items: center;
}

.dialog-icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}

.loader {
  border: 6px solid whitesmoke;
  border-top: 6px solid rgb(1, 94, 141);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1200px) {
  .dialog-content-item {
    flex-direction: column;
  }

  .search-bar {
    justify-content: center;
  }

  .dialog-content {
    width: 80vw;
    height: 60vh;
  }
}