#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
  text-align: center;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(1, 94, 141);
  border: 2px solid whitesmoke;
  border-radius: 5px;
  color: white;
  font-size: 14pt;
}

.action-button:hover {
  cursor: pointer;
  background-color: rgb(0, 67, 100);
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  margin: 2rem;
  padding-bottom: 1rem;
  min-width: 650px;
  max-width: 2000px;
}

.journey-list {
  overflow-y: auto;
  box-shadow: 0 0 0 2px whitesmoke inset;
}

.list-item,
.list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list-header {
  font-size: 12pt;
  font-weight: bold;
  background-color: rgb(1, 94, 141);
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-item-journeys label,
.list-header-journeys label {
  width: 25%;
  text-align: center;
}

.list-item-odd {
  background-color: whitesmoke;
}

.list-item-stations:hover {
  box-shadow: 0 0 2px 2px gray inset;
  border-radius: 5px;
}

.list-item-stations:active {
  background-color: rgb(205, 205, 205);
  border-radius: 5px;
}

.list-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.list-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-button img {
  width: 36px;
  height: 36px;
}

.result-indices {
  width: 100%;
}

dialog {
  padding: 0;
  border: 2px solid gray;
  border-radius: 10px;
}

.dialog {
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgb(1, 94, 141);
  color: white;
  font-weight: bold;
}

.dialog-header img {
  width: 30px;
  height: 30px;
}

.dialog-header img:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px gray;
  border-radius: 5px;
}

.dialog-header label {
  margin-right: 1rem;
}

.dialog-content {
  text-align: left;
}

.dialog-content-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.dialog-content-item img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.dialog-content-item label {
  display: flex;
  align-items: center;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}

.loader {
  margin: 1rem;
  border: 8px solid whitesmoke;
  border-top: 8px solid rgb(1, 94, 141);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}